
@font-face {
  font-family: "Dancing Script";
  src: url(../font/DancingScript-regular.ttf)
}

body {
  background: black;
}
header {
  background: #5b7989;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 10px 10px 0 0;
}

header h1 {
   position: relative;
   float: left;
   display: inline-block;
   margin: auto auto auto 15px;
   font-family: "Dancing Script";
   color: white;
   width: 50%;
}

nav {
  display: inline-block;
  width: auto;
  margin: auto 15px auto auto;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Dancing Script";
  color: white;
}

.photos {
  width: 80%;
  margin: auto;
}

.section1
 {
  width: 100%;
  background: #82c3a6;
  text-align: center;
}

.section1 .photo1 {
  text-align: center;
  width: 100%;
}


.section1 .photo1 img {
  width: 80%;
  margin: 20px auto;
}


.section2
 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  padding: auto;
  background: #c5c75f;
  border: 1px;
}

.section2 .photo2 {
  width: 45%;
  display: inline-block;
  margin: 10px auto;
}


.section2 .photo2 img {
  width: 100%;
  margin: 20px auto 0 auto;
}

.section2 .photo2 h2 {
  font-family: "Dancing Script";
  margin: 0 auto;
}

.section2 .photo3 {
  width: 45%;
  display: inline-block;
  margin: auto;
}


.section2 .photo3 img {
  width: 100%;
  margin: 20px auto 0 auto;

}

.section2 .photo3 h2 {
  font-family: "Dancing Script";
  margin: 0 auto;
}

footer {
  background: #c6d5c5;
  margin: 0 auto;
  padding: 0s;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  font-family: "Dancing Script";
  border-radius: 0 0 10px 10px;
}

footer .ft1, footer .ft2, footer .ft3, footer .ft4 {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  margin: auto;
  text-align: center;
}


footer .ft1 h2, footer .ft2 h2, footer .ft3 h2, footer .ft4 h2{
     margin: 10px auto;
}


footer .ft1 p, footer .ft2 p, footer .ft3 p, footer .ft4 p {
  margin: auto;
}



@media (max-width: 900px) {

  header {
    display: flex;
    flex-flow: column wrap;
  }


  header {
   text-align: center;
  }

  header h1 {
     display: block;
     margin: auto;
     width: 100%;
  }

  nav {
    display: block;
    width: 100%;
    margin: auto;
  }


  nav ul {
  padding: 0;
   }

  nav ul li {
    list-style: none;
    margin: auto;
  }
  /*PART OF WEB BODY MAX-WIDTH 900PX*/

  .section1, .section2
  {
   flex-flow: column wrap;
 }

  .section1 .photo1, .section2 .photo2, .section2 .photo3{
    display: block;
    width: 80%;
    margin: auto;
  }

  .section1 .photo1 img {
    width: 100%;
    margin: 10px auto;
  }

  .section2 .photo2 img {
    width: 100%;
    margin: 20px auto 0 auto;
  }

  .section2 .photo2 h2 {
    font-family: "Dancing Script";
    margin: 0 auto;
  }



  .section2 .photo3 img {
    width: 100%;
    margin: 20px auto 0 auto;

  }

  .section2 .photo3 h2 {
    font-family: "Dancing Script";
    margin: 0 auto;
  }

  /*FOOTER IN MAX-WIDTH 900PX*/
  footer {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }

  footer .ft1, footer .ft2, footer .ft3, footer .ft4 {
    display: block;
    width: 100%;
    margin: 30px auto;
  }


}
