
@font-face {
   font-family: "Dancing Script";
   -moz-font-family: "Dancing Script";
   -webkit-font-family: "Dancing Script";
    src: url(../font/DancingScript-regular.ttf);
}

body {
  background: #02010a;
}

header {
  background: #5b7989;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  text-shadow: 2px 2px 0 #02010a;
  animation: rebound 1.5s;
}


@-webkit-keyframes rebound {

      0% {
       margin-top: 150%;
      }

      60% {
       margin-top: -5%;
      }

      100% {
      margin-top: 0%;
      }

}


header h1 {
   position: relative;
   float: left;
   display: inline-block;
   margin: auto auto auto 15px;
   font-family: "Dancing Script";
   color: white;
   width: 50%;
   text-shadow: 2px 2px 0 #02010a;

}

nav {
  display: inline-block;
  width: auto;
  margin: auto 15px auto auto;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Dancing Script";
  color: white;
}

.sections {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  margin: 0 auto;
}

.section1 {
  background: #c5c75f;
  display: block;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.photo1, .photo2, .photo3 {
  width: 30%;
  margin: 20px auto 10px auto;
}


.photo1 img, .photo2 img, .photo3 img {
  width: 100%;
}

.photo1 img {
 filter: blur(10px);
}

.photo3 img {
  filter: sepia(90%);
}

.section2 {
  background: #c5c75f;
  display: block;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.photo4, .photo5, .photo6 {
  width: 30%;
  margin: 10px auto 20px auto;
}

.photo4 img, .photo5 img, .photo6 img {
  width: 100%;
}


.photo2 img, .photo4 img, .photo6 img {
  filter: grayscale(100%);
}

footer {
  background: #c6d5c5;
  margin: 0 auto;
  padding: 0s;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  font-family: "Dancing Script";
  border-radius: 0 0 10px 10px;
}

footer .ft1, footer .ft2, footer .ft3, footer .ft4 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 20%;
  margin: auto;
  text-align: center;
}

footer .ft1 h2, footer .ft2 h2, footer .ft3 h2, footer .ft4 h2{
     margin: 10px auto;
}


footer .ft1 p, footer .ft2 p, footer .ft3 p, footer .ft4 p {
  margin: auto;
}



@media (max-width: 900px) {

  /*HEADER FOR MAX-WIDTH 900PX*/
  header {
    display: flex;
    flex-flow: column wrap;
  }


  header {
   text-align: center;
  }

  header h1 {
     display: block;
     margin: auto;
     width: 100%;
  }

  nav {
    display: block;
    width: 100%;
    margin: auto;
  }


  nav ul {
  padding: 0;
   }

  nav ul li {
    list-style: none;
    margin: auto;
  }

 /*PART OF WED BODY FOR MAX-WIDTH 900PX*/

 .section1, .section2 {
   flex-flow: column wrap;
 }

 .photo1, .photo2, .photo3, .photo4, .photo5, .photo6 {
   width: 80%;
   margin: 10px auto;
 }


  /*FOOTER IN MAX-WIDTH 900PX*/
  footer {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }

  footer .ft1, footer .ft2, footer .ft3, footer .ft4 {
    display: block;
    width: 100%;
    margin: 30px auto;
  }

}
